<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace属性相当于映射文件的名称 属性值任意-->
<mapper namespace="com.cspplatform.mapper.PredictionMapper">

    <select id="inquireAllPreBySession" resultType="com.cspplatform.entity.Prediction">
        select * from prediction_info where session = #{session}
    </select>



</mapper>